/* CSS RESET 
===============================================================================*/
html, body {
  margin: 0 !important;
  padding: 0 !important;
}
p,
div,
span,
pre,
code,
blockquote,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
dl,
dt,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  outline: none;
  text-decoration: none;
}
img,
a img,
:link img,
:visited img {
  border: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
font {
  font: 14px/21px Arial, Helvetica, sans-serif;
}
header,
nav,
aside,
footer,
article,
section {
  display: block;
}
/* BASICS 
===============================================================================*/
body {
  text-align: center;
  font-size: 62.5%;
  line-height: 1em;
}
.container {
  margin: 0 auto;
  text-align: left;
}
.float.right {
  float: right;
}
.float.left {
  float: left;
}
.textalign.right {
  text-align: right;
}
.textalign.left {
  text-align: left;
}
.textalign.center {
  text-align: center;
}
/* 12-COLUMN GRID SYSTEM 
===============================================================================*/
.column, .columns {
  float: left;
  display: inline;
  margin-left: 12px;
  margin-right: 12px;
}
.padded {
  padding: 12px;
}
.rounded {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.outlined {
  border: 1px solid #dedede;
  border-top-color: #fff;
  border-left-color: #fff;
  background: #fff;
}
.row {
  margin-bottom: 12px;
}
.first {
  margin-left: 0;
}
.last {
  margin-right: 0;
}
.container {
  width: 960px;
}
.container .one.column {
  width: 56px;
}
.container .one.column.padded {
  width: 32px;
}
.container .one.column.padded.outlined {
  width: 30px;
}
.container .one.column.outlined {
  width: 54px;
}
.container .two.columns {
  width: 136px;
}
.container .two.columns.padded {
  width: 112px;
}
.container .two.columns.padded.outlined {
  width: 110px;
}
.container .two.columns.outlined {
  width: 134px;
}
.container .three.columns {
  width: 216px;
}
.container .three.columns.padded {
  width: 192px;
}
.container .three.columns.padded.outlined {
  width: 190px;
}
.container .three.columns.outlined {
  width: 214px;
}
.container .four.columns {
  width: 296px;
}
.container .four.columns.padded {
  width: 272px;
}
.container .four.columns.padded.outlined {
  width: 270px;
}
.container .four.columns.outlined {
  width: 294px;
}
.container .five.columns {
  width: 376px;
}
.container .five.columns.padded {
  width: 352px;
}
.container .five.columns.padded.outlined {
  width: 350px;
}
.container .five.columns.outlined {
  width: 374px;
}
.container .six.columns {
  width: 456px;
}
.container .six.columns.padded {
  width: 432px;
}
.container .six.columns.padded.outlined {
  width: 430px;
}
.container .six.columns.outlined {
  width: 454px;
}
.container .seven.columns {
  width: 536px;
}
.container .seven.columns.padded {
  width: 512px;
}
.container .seven.columns.padded.outlined {
  width: 510px;
}
.container .seven.columns.outlined {
  width: 534px;
}
.container .eight.columns {
  width: 616px;
}
.container .eight.columns.padded {
  width: 592px;
}
.container .eight.columns.padded.outlined {
  width: 590px;
}
.container .eight.columns.outlined {
  width: 614px;
}
.container .nine.columns {
  width: 696px;
}
.container .nine.columns.padded {
  width: 672px;
}
.container .nine.columns.padded.outlined {
  width: 670px;
}
.container .nine.columns.outlined {
  width: 694px;
}
.container .ten.columns {
  width: 776px;
}
.container .ten.columns.padded {
  width: 752px;
}
.container .ten.columns.padded.outlined {
  width: 750px;
}
.container .ten.columns.outlined {
  width: 774px;
}
.container .eleven.columns {
  width: 856px;
}
.container .eleven.columns.padded {
  width: 832px;
}
.container .eleven.columns.padded.outlined {
  width: 830px;
}
.container .eleven.columns.outlined {
  width: 854px;
}
.container .twelve.columns {
  width: 936px;
}
.container .twelve.columns.padded {
  width: 912px;
}
.container .twelve.columns.padded.outlined {
  width: 910px;
}
.container .twelve.columns.outlined {
  width: 934px;
}
.container .offset-by-one {
  margin-left: 80px;
}
.container .offset-by-two {
  margin-left: 160px;
}
.container .offset-by-three {
  margin-left: 240px;
}
.container .offset-by-four {
  margin-left: 320px;
}
.container .offset-by-five {
  margin-left: 400px;
}
.container .offset-by-six {
  margin-left: 480px;
}
.container .offset-by-seven {
  margin-left: 560px;
}
.container .offset-by-eight {
  margin-left: 640px;
}
.container .offset-by-nine {
  margin-left: 720px;
}
.container .offset-by-ten {
  margin-left: 800px;
}
.container .offset-by-eleven {
  margin-left: 880px;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .column, .columns {
    float: left;
    display: inline;
    margin-left: 12px;
    margin-right: 12px;
  }
  .padded {
    padding: 12px;
  }
  .rounded {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .outlined {
    border: 1px solid #dedede;
    border-top-color: #fff;
    border-left-color: #fff;
    background: #fff;
  }
  .row {
    margin-bottom: 12px;
  }
  .first {
    margin-left: 0;
  }
  .last {
    margin-right: 0;
  }
  .container {
    width: 760px;
  }
  .container .one.column {
    width: 39.333333333333336px;
  }
  .container .one.column.padded {
    width: 15.333333333333336px;
  }
  .container .one.column.padded.outlined {
    width: 13.333333333333336px;
  }
  .container .one.column.outlined {
    width: 37.333333333333336px;
  }
  .container .two.columns {
    width: 102.66666666666667px;
  }
  .container .two.columns.padded {
    width: 78.66666666666667px;
  }
  .container .two.columns.padded.outlined {
    width: 76.66666666666667px;
  }
  .container .two.columns.outlined {
    width: 100.66666666666667px;
  }
  .container .three.columns {
    width: 166px;
  }
  .container .three.columns.padded {
    width: 142px;
  }
  .container .three.columns.padded.outlined {
    width: 140px;
  }
  .container .three.columns.outlined {
    width: 164px;
  }
  .container .four.columns {
    width: 229.33333333333334px;
  }
  .container .four.columns.padded {
    width: 205.33333333333334px;
  }
  .container .four.columns.padded.outlined {
    width: 203.33333333333334px;
  }
  .container .four.columns.outlined {
    width: 227.33333333333334px;
  }
  .container .five.columns {
    width: 292.6666666666667px;
  }
  .container .five.columns.padded {
    width: 268.6666666666667px;
  }
  .container .five.columns.padded.outlined {
    width: 266.6666666666667px;
  }
  .container .five.columns.outlined {
    width: 290.6666666666667px;
  }
  .container .six.columns {
    width: 356px;
  }
  .container .six.columns.padded {
    width: 332px;
  }
  .container .six.columns.padded.outlined {
    width: 330px;
  }
  .container .six.columns.outlined {
    width: 354px;
  }
  .container .seven.columns {
    width: 419.33333333333337px;
  }
  .container .seven.columns.padded {
    width: 395.33333333333337px;
  }
  .container .seven.columns.padded.outlined {
    width: 393.33333333333337px;
  }
  .container .seven.columns.outlined {
    width: 417.33333333333337px;
  }
  .container .eight.columns {
    width: 482.6666666666667px;
  }
  .container .eight.columns.padded {
    width: 458.6666666666667px;
  }
  .container .eight.columns.padded.outlined {
    width: 456.6666666666667px;
  }
  .container .eight.columns.outlined {
    width: 480.6666666666667px;
  }
  .container .nine.columns {
    width: 546px;
  }
  .container .nine.columns.padded {
    width: 522px;
  }
  .container .nine.columns.padded.outlined {
    width: 520px;
  }
  .container .nine.columns.outlined {
    width: 544px;
  }
  .container .ten.columns {
    width: 609.3333333333334px;
  }
  .container .ten.columns.padded {
    width: 585.3333333333334px;
  }
  .container .ten.columns.padded.outlined {
    width: 583.3333333333334px;
  }
  .container .ten.columns.outlined {
    width: 607.3333333333334px;
  }
  .container .eleven.columns {
    width: 672.6666666666667px;
  }
  .container .eleven.columns.padded {
    width: 648.6666666666667px;
  }
  .container .eleven.columns.padded.outlined {
    width: 646.6666666666667px;
  }
  .container .eleven.columns.outlined {
    width: 670.6666666666667px;
  }
  .container .twelve.columns {
    width: 736px;
  }
  .container .twelve.columns.padded {
    width: 712px;
  }
  .container .twelve.columns.padded.outlined {
    width: 710px;
  }
  .container .twelve.columns.outlined {
    width: 734px;
  }
  .container .offset-by-one {
    margin-left: 63.333333333333336px;
  }
  .container .offset-by-two {
    margin-left: 126.66666666666667px;
  }
  .container .offset-by-three {
    margin-left: 190px;
  }
  .container .offset-by-four {
    margin-left: 253.33333333333334px;
  }
  .container .offset-by-five {
    margin-left: 316.6666666666667px;
  }
  .container .offset-by-six {
    margin-left: 380px;
  }
  .container .offset-by-seven {
    margin-left: 443.33333333333337px;
  }
  .container .offset-by-eight {
    margin-left: 506.6666666666667px;
  }
  .container .offset-by-nine {
    margin-left: 570px;
  }
  .container .offset-by-ten {
    margin-left: 633.3333333333334px;
  }
  .container .offset-by-eleven {
    margin-left: 696.6666666666667px;
  }
}
/* 1-COLUMN GRID SYSTEM 
===============================================================================*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .column, .columns {
    float: left;
    display: inline;
    margin-left: 0;
    margin-right: 0;
  }
  .padded {
    padding: 12px;
  }
  .rounded {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .outlined {
    border: 1px solid #dedede;
    border-top-color: #fff;
    border-left-color: #fff;
    background: #fff;
  }
  .row {
    margin-bottom: 0;
  }
  .first {
    margin-left: 0;
  }
  .last {
    margin-right: 0;
  }
  .container {
    width: 420px;
  }
  .container .one.column {
    width: 420px;
  }
  .container .one.column.padded {
    width: 396px;
  }
  .container .one.column.padded.outlined {
    width: 394px;
  }
  .container .one.column.outlined {
    width: 418px;
  }
  .container .two.columns {
    width: 420px;
  }
  .container .two.columns.padded {
    width: 396px;
  }
  .container .two.columns.padded.outlined {
    width: 394px;
  }
  .container .two.columns.outlined {
    width: 418px;
  }
  .container .three.columns {
    width: 420px;
  }
  .container .three.columns.padded {
    width: 396px;
  }
  .container .three.columns.padded.outlined {
    width: 394px;
  }
  .container .three.columns.outlined {
    width: 418px;
  }
  .container .four.columns {
    width: 420px;
  }
  .container .four.columns.padded {
    width: 396px;
  }
  .container .four.columns.padded.outlined {
    width: 394px;
  }
  .container .four.columns.outlined {
    width: 418px;
  }
  .container .five.columns {
    width: 420px;
  }
  .container .five.columns.padded {
    width: 396px;
  }
  .container .five.columns.padded.outlined {
    width: 394px;
  }
  .container .five.columns.outlined {
    width: 418px;
  }
  .container .six.columns {
    width: 420px;
  }
  .container .six.columns.padded {
    width: 396px;
  }
  .container .six.columns.padded.outlined {
    width: 394px;
  }
  .container .six.columns.outlined {
    width: 418px;
  }
  .container .seven.columns {
    width: 420px;
  }
  .container .seven.columns.padded {
    width: 396px;
  }
  .container .seven.columns.padded.outlined {
    width: 394px;
  }
  .container .seven.columns.outlined {
    width: 418px;
  }
  .container .eight.columns {
    width: 420px;
  }
  .container .eight.columns.padded {
    width: 396px;
  }
  .container .eight.columns.padded.outlined {
    width: 394px;
  }
  .container .eight.columns.outlined {
    width: 418px;
  }
  .container .nine.columns {
    width: 420px;
  }
  .container .nine.columns.padded {
    width: 396px;
  }
  .container .nine.columns.padded.outlined {
    width: 394px;
  }
  .container .nine.columns.outlined {
    width: 418px;
  }
  .container .ten.columns {
    width: 420px;
  }
  .container .ten.columns.padded {
    width: 396px;
  }
  .container .ten.columns.padded.outlined {
    width: 394px;
  }
  .container .ten.columns.outlined {
    width: 418px;
  }
  .container .eleven.columns {
    width: 420px;
  }
  .container .eleven.columns.padded {
    width: 396px;
  }
  .container .eleven.columns.padded.outlined {
    width: 394px;
  }
  .container .eleven.columns.outlined {
    width: 418px;
  }
  .container .twelve.columns {
    width: 420px;
  }
  .container .twelve.columns.padded {
    width: 396px;
  }
  .container .twelve.columns.padded.outlined {
    width: 394px;
  }
  .container .twelve.columns.outlined {
    width: 418px;
  }
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven {
    margin-left: 0;
  }
}
@media only screen and (max-width: 479px) {
  .column, .columns {
    float: left;
    display: inline;
    margin-left: 0;
    margin-right: 0;
  }
  .padded {
    padding: 12px;
  }
  .rounded {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .outlined {
    border: 1px solid #dedede;
    border-top-color: #fff;
    border-left-color: #fff;
    background: #fff;
  }
  .row {
    margin-bottom: 0;
  }
  .first {
    margin-left: 0;
  }
  .last {
    margin-right: 0;
  }
  .container {
    width: 300px;
  }
  .container .one.column {
    width: 300px;
  }
  .container .one.column.padded {
    width: 276px;
  }
  .container .one.column.padded.outlined {
    width: 274px;
  }
  .container .one.column.outlined {
    width: 298px;
  }
  .container .two.columns {
    width: 300px;
  }
  .container .two.columns.padded {
    width: 276px;
  }
  .container .two.columns.padded.outlined {
    width: 274px;
  }
  .container .two.columns.outlined {
    width: 298px;
  }
  .container .three.columns {
    width: 300px;
  }
  .container .three.columns.padded {
    width: 276px;
  }
  .container .three.columns.padded.outlined {
    width: 274px;
  }
  .container .three.columns.outlined {
    width: 298px;
  }
  .container .four.columns {
    width: 300px;
  }
  .container .four.columns.padded {
    width: 276px;
  }
  .container .four.columns.padded.outlined {
    width: 274px;
  }
  .container .four.columns.outlined {
    width: 298px;
  }
  .container .five.columns {
    width: 300px;
  }
  .container .five.columns.padded {
    width: 276px;
  }
  .container .five.columns.padded.outlined {
    width: 274px;
  }
  .container .five.columns.outlined {
    width: 298px;
  }
  .container .six.columns {
    width: 300px;
  }
  .container .six.columns.padded {
    width: 276px;
  }
  .container .six.columns.padded.outlined {
    width: 274px;
  }
  .container .six.columns.outlined {
    width: 298px;
  }
  .container .seven.columns {
    width: 300px;
  }
  .container .seven.columns.padded {
    width: 276px;
  }
  .container .seven.columns.padded.outlined {
    width: 274px;
  }
  .container .seven.columns.outlined {
    width: 298px;
  }
  .container .eight.columns {
    width: 300px;
  }
  .container .eight.columns.padded {
    width: 276px;
  }
  .container .eight.columns.padded.outlined {
    width: 274px;
  }
  .container .eight.columns.outlined {
    width: 298px;
  }
  .container .nine.columns {
    width: 300px;
  }
  .container .nine.columns.padded {
    width: 276px;
  }
  .container .nine.columns.padded.outlined {
    width: 274px;
  }
  .container .nine.columns.outlined {
    width: 298px;
  }
  .container .ten.columns {
    width: 300px;
  }
  .container .ten.columns.padded {
    width: 276px;
  }
  .container .ten.columns.padded.outlined {
    width: 274px;
  }
  .container .ten.columns.outlined {
    width: 298px;
  }
  .container .eleven.columns {
    width: 300px;
  }
  .container .eleven.columns.padded {
    width: 276px;
  }
  .container .eleven.columns.padded.outlined {
    width: 274px;
  }
  .container .eleven.columns.outlined {
    width: 298px;
  }
  .container .twelve.columns {
    width: 300px;
  }
  .container .twelve.columns.padded {
    width: 276px;
  }
  .container .twelve.columns.padded.outlined {
    width: 274px;
  }
  .container .twelve.columns.outlined {
    width: 298px;
  }
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven {
    margin-left: 0;
  }
}
/* CLEARFIX 
===============================================================================*/
.container:after, .row:after, .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
* html .container, * html .row, * html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .container, *:first-child + html .row, *:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
